html, body{
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
    margin: 0;
}

.nav{
    border-radius: 10px;
    background: rgb(241, 241, 241);
    padding: 20px;
    list-style:none;
    margin-bottom: 10px; 
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    padding:0;
    text-align:center;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    overflow: auto;
    width: 600px;
}

.nav li{
    display:inline;
}

.nav a{
    display:inline-block;
    padding:10px;
    color:black;
    text-decoration: none;
}

.nav a:hover{
    background-color: white;
}

.wrapper{
    min-height: 100%;
    margin-bottom: -36px;
}

.foot, .push {
    height: 36px;
}

.footer{
    background: rgb(241, 241, 241);
    list-style:none;
    text-align:center;
    font-weight: bold;
    font-size: 14px;
    overflow: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    bottom: 0;
}

.footer li{
    display:inline;
} 

.footer a{
    display:inline-block;
    padding:10px;
    color:black;
    text-decoration: none;
}

.footer a:hover{
    background-color: white;
}

.about-section {
    padding: 50px;
    text-align: center;
    background: rgb(241, 241, 241);
    color: black;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.about-section h1{
    text-decoration: underline;
    margin-bottom: 0px;
}

.about-section p{
    margin-top: 4px;
    font-size: 18px;
}

.infoblock{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto
}

.type{
    text-decoration: underline;
    margin-bottom: 20px;
    font-size: 28px;
    padding-left: 20px;
  }

  .review-large{
    margin-bottom: 10px; 
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto; 
    overflow: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    max-width:960px;
    max-height: 213px;
    text-align: center;
    border-radius: 10px;
}
.review-large-thumb{
    float: left;
}

.review-large-thumb img {
    display: block;
    height: 213px;
    width: 320px;
}

.review-large-thumb img:hover{
    opacity: 0.7;
    cursor: pointer;
}

.review-large-content{
    text-align: left;
    float: left;
    max-width: 320px;
    max-height: 213px;
    margin-left: 30px;
    margin-top: 10px;
}

.model{
    color: black;
    font-size: 26px;
    margin-bottom: 0px;
}

.review-large-content a{
    text-decoration: none;
}

.model:hover{
    opacity: 0.7;
    cursor: pointer;
}

.brand{
    color: grey;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 25px;
}

.review-large-info{
    float:right;
    max-width: 320px;
    margin-top: 42px;
    margin-right: 30px;
}

.review-large-add{
    font-size:12px;
    color: grey;
    text-align: right;
    margin-top: 0px;
    margin-bottom: 4px;
}

.review-large-add-content{
    font-size:16px;
    text-align: right;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
}
