/* Entire Page */
html, body{
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

/* Nav Bar */
.topnav {
    background-color: rgb(248, 248, 248);
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    text-align:center;
    max-width: 640px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  }

.topnav a {
    display: inline-block;
    color:rgb(126, 41, 223);
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

.topnav a:hover {
    background-color: white;
    color:rgb(126, 41, 223);
}
  
.topnav .icon {
    display: none;
}

/* Transition Content */
.recent{
    text-align:center;
    text-decoration: underline;
    color:rgb(126, 41, 223);
    font-size: 26px;
}

/* Slideshow Content */


/* Card Content */
.row::after {
    content: "";
    clear: both;
    display: table;
}
    
[class*="col-"] {
    float: left;
}

.row{
    border-radius: 8px;
    background:rgb(248, 248, 248);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    max-width: 960px;
    max-height: 216px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}

.thumbnail{
    width: 384px;
    height: 216px;
    border-radius: 8px 0 0 8px;
}

img:hover{
    opacity: 0.8;
    cursor: pointer;
}

.titlecon{
    margin-top: 14px;
    margin-left: 18px;
}

.title a{
    text-decoration: none;
}

.model{
    color: black;
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
}
  
.model:hover{
    opacity: 0.8;
    cursor: pointer;
}

.brand{
    color:rgb(126, 41, 223);
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.year{
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
    color:rgb(126, 41, 223);
}

.button {
    display: inline-block;
    padding: 10px 14px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-weight: none;
    color: rgb(126, 41, 223);
    background-color:white;
    border: none;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
.button:hover {color:black}
  
.button:active {
    color:black;
    box-shadow: 0 1px rgb(240, 240, 240);
    transform: translateY(2px);
}
  
.buttoncon{
      text-align: right;
      margin-top: 22px;
}

.buttonconL{
    text-align: left;
    margin-top: 14px;
}

.infocon{
    margin-top: 14px;
    margin-right: 18px;
}

.infotitle{
    font-size:16px;
    color:rgb(126, 41, 223);
    text-align: right;
    margin-top: 0px;
    margin-bottom: 4px;
}

.infocontent{
    font-size:14px;
    text-align: right;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 4px;
}

.score{
    color: black;
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    text-align: right;
}

/* Footer */
.footer{
    background: rgb(248, 248, 248);
    list-style:none;
    text-align:center;
    font-weight: bold;
    font-size: 14px;
    overflow: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    bottom: 0;
}

.footer li{
    display:inline;
} 

.footer a{
    display:inline-block;
    padding:10px;
    color:rgb(126, 41, 223);
    text-decoration: none;
    font-size: 10px;
}

.footer a:hover{
    background-color: white;
}

.wrapper{
    min-height: 100%;
    margin-bottom: -32px;
}

.foot, .push {
    height: 32px;
}

/* Responsive Media Desktop*/
@media only screen and (min-width: 960px){
    .col-d-1 {width: 30%};
    .col-d-2 {width: 40%};
    .col-d-3 {width: 50%};
    .col-d-4 {width: 75%};
    .col-d-5 {width: 100%};
}

/* Responsive Media Tablet*/
@media only screen and (min-width: 640px){
    .col-t-1 {width: 30%};
    .col-t-2 {width: 40%};
    .col-t-3 {width: 50%};
    .col-t-4 {width: 75%};
    .col-t-5 {width: 100%};

    
}

/* Responsive Media Mobile*/
@media screen and (max-width: 640px){
    .topnav{
        border-radius: 0 0 0 0;
      }
    .topnav a{
        float: left;
        display: block;
        text-align: center;
    }
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
