/* Entire Page */
html, body{
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

/* Nav Bar */
.topnav {
    background-color: rgb(240, 240, 240);
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    text-align:center;
    max-width: 100%;
    border-radius: 0 0 8px 8px;
  }

.topnav a {
    display: inline-block;
    color:rgb(126, 41, 223);
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

.topnav a:hover {
    background-color: white;
    border-radius: 8px;
    color:rgb(126, 41, 223);
}
  
.topnav .icon {
    display: none;
}

/* Header */
.about-section {
    padding: 30px;
    text-align: center;
    background: rgb(240, 240, 240);
    margin-bottom: 10px;
}

.about-section h1{
    text-decoration: underline;
    margin-bottom: 0px;
    color:rgb(126, 41, 223);
}

.about-section p{
    margin-top: 2px;
    font-size: 16px;
}

.row{
    border-radius: 8px;
    /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);*/
    width: 960px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
    width: 720px;
    float: left;
    
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    position: relative;
  }

  .mySlides img{
    width: 720px;
    height: 405px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  }

  .overlay {
    position: absolute;
    bottom: 3.5px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.3); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 13px;
    padding: 13px;
    text-align: center;
    border-radius: 0 0 8px 8px;
  }
  
  /* When you mouse over the container, fade in the overlay title */
  .container:hover .overlay {
    opacity: 1;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 8px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 8px 8px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 8px 0 0 8px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .rowslide:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .columnslide {
    float: left;
    width: 12.5%;
  }

  .columnfirst{
    float: left;
    width: 12.5%;
  }

  .columnfirst img{
    border-radius: 8px 0px 0px 8px;
  }

  .columnlast{
    float: left;
    width: 12.5%;
  }
  
  .columnlast img{
    border-radius: 0 8px 8px 0;
  }
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  .button {
    display: inline-block;
    padding: 10px 14px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-weight: none;
    color: white;
    background-color:rgb(126, 41, 223);
    border: none;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
.button:hover {color:black}
  
.button:active {
    color:black;
    box-shadow: 0 1px rgb(240, 240, 240);
    transform: translateY(2px);
}
  
.buttoncon{
      text-align: right;
}

.quickinfo{
    background:white;
    border-radius: 0 8px 8px 0px;
}

.infotitle{
  font-size:14px;
  color:black;
  margin-top: 0px;
  margin-bottom: 4px;
  text-align: right;
}

.info{
  font-size:18px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: right;
  color:rgb(126, 41, 223);
}

.infotitleP{
  font-size:18px;
  color:black;
  text-align: right;
  margin-bottom: 0px;
}

.infoP{
  font-size:24px;
  margin-top:0px;
  font-weight: bold;
  text-align: right;
  color:rgb(126, 41, 223);
}

/* Footer */
.footer{
    background: rgb(240, 240, 240);
    list-style:none;
    text-align:center;
    font-weight: bold;
    font-size: 14px;
    overflow: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    bottom: 0;
}

.footer li{
    display:inline;
} 

.footer a{
    display:inline-block;
    padding:10px;
    color:rgb(126, 41, 223);
    text-decoration: none;
    font-size: 10px;
}

.footer a:hover{
    background-color: white;
}

.wrapper{
    min-height: 100%;
    margin-bottom: -32px;
}

.foot, .push {
    height: 32px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
    
[class*="col-"] {
    float: left;
}

.infoblocktitle h1{
    text-decoration: underline;
    margin-bottom: 0px;
    font-size: 24px;
    color:rgb(126, 41, 223);
  }

  .infoblocktitle p{
    margin-top: 4px;
    font-size: 16px;
  }

  .infoblock h1{
    margin-bottom: 0px;
    font-size: 24px;
    color:rgb(126, 41, 223);
  }

  .infoblock p{
    margin-top: 4px;
    font-size: 16px;
  }

/* Tablet Design */
@media only screen and (min-width: 660px){
    .col-t-1 {width: 25%;}
    .col-t-2 {width: 30%;}
    .col-t-3 {width: 33.33%;}
    .col-t-4 {width: 40%;}
    .col-t-5 {width: 50%;}
    .col-t-6 {width: 66.66%;}
    .col-t-7 {width: 75%;}
    .col-t-8 {width: 100%;}
    .row{
        max-width: 640px;
        max-height: 180px;
    }
    .container {
        position: relative;
        width: 495px;
        float: left;
    }
    
    .mySlides img{
        border-radius: 8px 0px 8px 8px;
        width: 495px;
        height: 279px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
      }

      .quickinfo{
        background:white;
        border-radius: 0 8px 8px 0px;
    }
    
    .infotitle{
      font-size:12px;
      color:black;
      margin-top: 0px;
      margin-bottom: 2px;
      text-align: right;
    }
    
    .info{
      font-size:16px;
      font-weight: bold;
      margin-top: 0px;
      margin-bottom: 8px;
      text-align: right;
      color:rgb(126, 41, 223);
    }
    
    .infotitleP{
      font-size:12px;
      color:black;
      text-align: right;
      margin-bottom: 0px;
    }
    
    .infoP{
      font-size:18px;
      margin-top:0px;
      font-weight: bold;
      text-align: right;
      color:rgb(126, 41, 223);
    }

    .quickinfomobile{
        display: none;
    }
}

/* Desktop Design */
@media only screen and (min-width: 980px){
    .col-d-1 {width: 25%;}
    .col-d-2 {width: 30%;}
    .col-d-3 {width: 33.33%;}
    .col-d-4 {width: 40%;}
    .col-d-5 {width: 50%;}
    .col-d-6 {width: 66.66%;}
    .col-d-7 {width: 75%;}
    .col-d-8 {width: 100%;}
    .row{
        max-width: 960px;
        max-height: 216px;
    }
    .container {
        position: relative;
        width: 720px;
        float: left;
    }
    
    .mySlides img{
        border-radius: 8px 0px 8px 8px;
        width: 720px;
        height: 405px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
      }
      .quickinfo{
        background:white;
        border-radius: 0 8px 8px 0px;
    }
    
    .infotitle{
      font-size:16px;
      color:black;
      margin-top: 0px;
      margin-bottom: 4px;
      text-align: right;
    }
    
    .info{
      font-size:18px;
      font-weight: bold;
      margin-top: 0px;
      margin-bottom: 10px;
      text-align: right;
      color:rgb(126, 41, 223);
    }
    
    .infotitleP{
      font-size:18px;
      color:black;
      text-align: right;
      margin-bottom: 0px;
    }
    
    .infoP{
      font-size:24px;
      margin-top:0px;
      font-weight: bold;
      text-align: right;
      color:rgb(126, 41, 223);
    }

    .quickinfomobile{
        display: none;
    }
}

/* Mobile Design */
@media screen and (max-width: 660px){
    .col-m-1 {width: 25%;}
    .col-m-2 {width: 30%;}
    .col-m-3 {width: 33.33%;}
    .col-m-4 {width: 40%;}
    .col-m-5 {width: 50%;}
    .col-m-6 {width: 66.66%;}
    .col-m-7 {width: 75%;}
    .col-m-8 {width: 100%;}
    .row{
        width: auto;
        height: auto;
    }
    .topnav{
        border-radius: 0 0 0 0;
        margin-bottom: 0px;
        box-shadow: none;

      }
      .topnav a{
        float: left;
        display: block;
        text-align: center;
        }
      .topnav a:not(:first-child) {display: none;}
      .topnav a.icon {
        float: right;
        display: block;
      }
      @media screen and (max-width: 660px) {
        .topnav.responsive {position: relative;}
        .topnav.responsive a.icon {
          position: absolute;
          right: 0;
          top: 0;
        }
        .topnav.responsive a {
          float: none;
          display: block;
          text-align: left;
        }
    }
    .about-section h1{
        font-size: 24px;
    }
    .about-section{
        margin-bottom: 0px;
    }
    .container {
        position: relative;
        width: 100%;
        float: left;
    }
    
    .mySlides img{
        border-radius: 0;
        width: 100%;
        max-height: 306px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
      }

      .columnfirst img{
        border-radius: 0;
      }
    
      .columnlast img{
        border-radius: 0;
      }

    .quickinfo{
        display: none;
    }
    .quickinfomobile{
        display: inherit;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .infotitlem{
      font-size:16px;
      color:black;
      margin-top: 0px;
      margin-bottom: 4px;
      text-align: left;
    }
    
    .infom{
      font-size:16px;
      font-weight: bold;
      margin-top: 0px;
      margin-bottom: 10px;
      text-align: left;
      color:rgb(126, 41, 223);
    }
    
    .infotitlePm{
      font-size:16px;
      color:black;
      text-align: right;
      margin-bottom: 4px;
      margin-top: 0;
    }
    
    .infoPm{
      font-size:24px;
      margin-top:0px;
      margin-bottom: 10px;
      font-weight: bold;
      text-align: right;
      color:rgb(126, 41, 223);
    }

    .buttoncon{
        display: none;
    }

    .writtenpiece{
        width: 80%;
        margin-left: auto;
        margin-right: auto
    }
}