html, body{
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
    margin: 0;
}

.nav{
    border-radius: 10px;
    background: rgb(241, 241, 241);
    padding: 20px;
    list-style:none;
    margin-bottom: 10px; 
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    padding:0;
    text-align:center;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    overflow: auto;
    width: 600px;
}

.nav li{
    display:inline;
}

.nav a{
    display:inline-block;
    padding:10px;
    color:black;
    text-decoration: none;
}

.nav a:hover{
    background-color: white;
}

.wrapper{
    min-height: 100%;
    margin-bottom: -36px;
}

.foot, .push {
    height: 36px;
}

.footer{
    background: rgb(241, 241, 241);
    list-style:none;
    text-align:center;
    font-weight: bold;
    font-size: 14px;
    overflow: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    bottom: 0;
}

.footer li{
    display:inline;
} 

.footer a{
    display:inline-block;
    padding:10px;
    color:black;
    text-decoration: none;
}

.footer a:hover{
    background-color: white;
}

.article-container{
    background: rgb(241, 241, 241);
    width: 960px;
    height: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}